{% extends "dashboard/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="components-preview wide-md mx-auto">
                                    <div class="nk-block-head nk-block-head-lg wide-sm">
                                        <div class="nk-block-head-content">
                                           
                                            <h2 class="nk-block-title fw-normal">Upload Contestant</h2>
                                            <div class="nk-block-des">
                                                <!-- <p class="lead">Form is most esential part of your project. We styled out nicely so you can build your form so quickly.</p> -->
                                            </div>
                                        </div>
                                    </div><!-- .nk-block -->
                                   
                                    <div class="nk-block nk-block-lg">
                                        
                                        <div class="card">
                                            <div class="card-inner">
                                                
                                               
                                                <form method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="form-control-wrap">
                                                        {{ form|crispy }}
                                                    </div>
                                                    
                                                    <button type="submit" class="btn btn-primary">Submit Profile</button>
                                                </form>

                                               
                                            </div>
                                        </div>
                                    </div><!-- .nk-block -->
                                   
                                </div><!-- .components-preview -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content @e -->
                
{% endblock content %}