{% extends "dashboard/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
        <!-- content @s -->
        <div class="nk-content ">
            <div class="container-fluid">
                <div class="nk-content-inner">
                    <div class="nk-content-body">
                        <div class="nk-block-head nk-block-head-sm">
                            <div class="nk-block-between">
                                <div class="nk-block-head-content">
                                    <h3 class="nk-block-title page-title">Contestant List</h3>
                                    <div class="nk-block-des text-soft">
                                       
                                    </div>
                                </div><!-- .nk-block-head-content -->
                                <form action="" method="post">
                                    <div class="card-tools">
                                    <h4>Export Data</h4>
    
                                        <div class="form-inline flex-nowrap gx-3">
                                                {% csrf_token %}
                                            <div class="form-wrap w-150px">
                                                {{ form_export | crispy }}
                                            </div>
                                            <div class="btn-wrap">
                                                <span class="d-none d-md-block"><button class="btn btn-dim btn-outline-light" type="submit">Export Data</button></span>
                                                <span class="d-md-none"><button class="btn btn-dim btn-outline-light btn-icon disabled"><em class="icon ni ni-arrow-right"></em></button></span>
                                            </div>
                                        </div><!-- .form-inline -->
                                    </div><!-- .card-tools -->
                                </form>
                                <div class="drodown">
                                    <a href="#" class="dropdown-toggle btn btn-white btn-dim btn-outline-light" data-bs-toggle="dropdown"><em class="d-none d-sm-inline icon ni ni-cloud"></em><span><span class="d-none d-md-inline">Filter Transactions</span></span><em class="dd-indc icon ni ni-chevron-right"></em></a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <div class="card">
                                        <form action="" method="get">
                                            {% csrf_token %}
                                            {{ filter.form | crispy }}
                                            <button class="btn btn-primary" type="submit">search</button>
                                        </form>
                                    </div>
                                    </div>
                                </div>
                                <div class="nk-block-head-content">
                                    
                                </div><!-- .nk-block-head-content -->
                            </div><!-- .nk-block-between -->
                        </div><!-- .nk-block-head -->
                        <div class="nk-block">
                            <div class="card card-stretch">
                                <div class="card-inner-group">
                                    <div class="card-inner position-relative card-tools-toggle">
                                        <div class="card-title-group">
                                            
                                        </div><!-- .card-title-group -->
                                        
                                    </div><!-- .card-inner -->
                                    <div class="card-inner p-0">
                                        <div class="nk-tb-list nk-tb-ulist">
                                            <div class="nk-tb-item nk-tb-head">
                                                
                                                <div class="nk-tb-col"><span class="sub-text">Contestant</span></div>
                                                <div class="nk-tb-col tb-col-sm"><span class="sub-text">Stage Name</span></div>
                                                <div class="nk-tb-col tb-col-md"><span class="sub-text">Contestant inspiration</span></div>
                                                
                                                
                                                <div class="nk-tb-col text-end"><span class="sub-text">Actions</span></div>
                                            </div><!-- .nk-tb-item -->
                                            {% for i in contestant_qs %}
                                            <div class="nk-tb-item">
                                               
                                                <div class="nk-tb-col">
                                                    <a>
                                                        <div class="user-card">
                                                            
                                                            <div class="user-name">
                                                                <span class="tb-lead">{{ i.name | title }} <span class="dot dot-success d-lg-none ms-1"></span></span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="nk-tb-col tb-col-sm">
                                                    <span class="sub-text">{{ i.stage_name }}</span>
                                                </div>
                                                <div class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">{{ i.contestant_inspiration }}</span>
                                                </div>
                                                
                                               
                                                <div class="nk-tb-col nk-tb-col-tools">
                                                    <ul class="nk-tb-actions gx-1">
                                                       
                                                        <li>
                                                            <div class="drodown">
                                                                <a href="" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                                <div class="dropdown-menu dropdown-menu-end">
                                                                    <ul class="link-list-opt no-bdr">
                                                                        <li><a href="{% url 'users:update_contestant_profile' i.id %}"><em class="icon ni ni-eye"></em><span>Edit Details</span></a></li>
                                                                        
                                                                        <li><a href="{% url 'users:delete_contestant_record' i.id %}"><em class="icon ni ni-na"></em><span>Delete </span></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div><!-- .nk-tb-item -->
                                            {% endfor %}
                                        </div><!-- .nk-tb-list -->
                                    </div><!-- .card-inner -->
                                    <div class="card-inner">
                                        <div class="nk-block-between-md g-3">
                                            <div class="card-inner">
                                                <ul class="pagination justify-content-center justify-content-md-start">
                                                    {% if page_obj.has_previous %}
                                                    <li class="page-item"><a class="page-link" href="{% url 'users:contestant_list' %}?page={{ page_obj.previous_page_number }}">Prev</a></li>
                                                    {% endif %}
                                                    
                                                    {% for num in page_obj.paginator.page_range %}
                                                    {% if page_obj.number == num %}
                                                    <li class="page-item active"><a class="page-link" href="{% url 'users:contestant_list' %}?page={{num}}">{{ num }}</a></li>
                                                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                                    <li class="page-item"><a class="page-link" href="{% url 'users:contestant_list' %}?page={{num}}">{{ num }}</a></li>
                                                    {% endif %}
                                                    {% endfor %}
                
                                                    {% if page_obj.has_next %}
                                                    <li class="page-item"><a class="page-link" href="{% url 'users:contestant_list' %}?page={{page_obj.next_page_number }}">Next</a></li>
                                                    {% endif %}
                                                </ul><!-- .pagination -->
                                            </div><!-- .card-inner -->
                                            
                                        </div><!-- .nk-block-between -->
                                    </div>
                                </div><!-- .card-inner-group -->
                            </div><!-- .card -->
                        </div><!-- .nk-block -->
                    </div>
                </div>
            </div>
        </div>
        <!-- content @e -->
{% endblock content %}
            
               